h3{
	padding-left:10px;
}

#taskfieldname{
	padding: 8px 0px 2px 0px;
}

#submitbutton{
	padding-top: 10px;
}

#taskfieldvalue input {
	width: 500px;
    flex-basis: 0;
    flex-grow: 7;
    padding: 5px !important;
    font-family: arial;
}

#time-field input{
	width: 300px;
	flex-basis: 0;
	flex-grow: 7;
	padding-right:10px;
	padding-left:10px;
}	

#taskfieldvalue textarea{
	width: 500px;
	height: 50px;
    flex-basis: 0;
    flex-grow: 7;
    padding: 5px;
    font-family: arial;

}

#query{
	margin: 10px 10px 10px 10px;
}

#dropdown-item {
	margin: 10px;
}