h3 {
    margin: 0px;
    color: #7f4cc1;
}

button {
    flex-basis: 0;
    flex-grow: 3;
    padding: 10px;
    background: #7f4cc1;
    border-radius: 0 4px 4px 0;
    border: 2px solid #7f4cc1;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
}

#timefield {
    display: inline-block;
	margin-right:20px;
}
