#query input[type="text"] {
    flex-basis: 0;
    flex-grow: 7;
    padding: 10px;
    margin-right: 10px;
}

button {
    flex-basis: 0;
    flex-grow: 3;
    padding: 10px;
    background: #7f4cc1;
    border-radius: 0 4px 4px 0;
    border: 2px solid #7f4cc1;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
}

#timefield input{
    margin-top: 10px;
    width: 500px;
}

#task-listing {
    margin-left:10px;
    margin-top:10px;
}

#task-listing-header {
    border-bottom: 2px solid #7f4cc1;
    padding: 15px 0px 10px 0px;
    margin-bottom: 2px;
    display: inline-block;
    font: bold;
}

h3 {
    margin: 0px;
    color: #7f4cc1;
}
