#row {
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #000000;
}

#item-box {
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
}

#name {
    width: 180px;
}

#requester {
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

#start-time {
    width: 100px;
    overflow: hidden;
}

#end-time {
    width: 100px;
    overflow: hidden;
}

#accept-time {
    width: 100px;
    overflow: hidden;
}

#starting-bid {
    text-align: center;
    width: 90px;
}

#accept-bid {
    text-align: center;
    width: 80px;
}

#current-bid {
    text-align: center;
    width: 80px;
}

#status {
    width: 80px;
}


#details {
    float: left;
    width: 66px;
}

#delete-button {
    flex-basis: 0;
    flex-grow: 3;
    background: red;
    /*border-radius: 0 4px 4px 0;*/
    border: 2px solid #7f4cc1;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
}
